es:
  host: '192.168.0.105'
  port: '9200'
  cluster: 'superheromatch'
  index: 'superhero'

db:
  host: '192.168.0.101'
  port: 3306
  user: 'dev'
  password: 'password'
  name: 'municipality'

consumer:
  brokers: ['192.168.0.105:9092']
  topic: 'update.municipality.superhero'

health:
  port: ':8090'
  shutdown_endpoint: '/api/v1/consumer_superhero_update_health/shutdown'
  content_type: 'application/json'